# Minecraft modpack specific ignores
/.probe/
/.vscode/
/.mixin.out/
/fancymenu_data/
/mods/
/resourcepacks/
/downloads/
/saves/
/logs/
/crash-reports/
/local/
/data/
/shaderpacks/
/options.txt
/usercache.json
/realms_persistence.json
/.curseclient
/user-prefs.json
/command_history.txt
/emi.json
/usernamecache.json

# Add the following to your gitignore:
# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta
